<h1>Eat a Burger</h1>

<h2>Your burgrs</h2>
<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{burger}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Devoured Burgers</h3>
<ul>
  {{#each burger}}
    {{#if devoured}}
      {{burger}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a burger</h2>

<div class="form-group">
  <label for="burg">Burger:</label>
  <input type="text" id="burg" name="name">
</div>

<button id="submit">Add Burger</button>